<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @update.text %>
</p>

<p>
  <b>Author:</b>
  <%= @update.author %>
</p>


<%= link_to 'Edit', edit_update_path(@update) %> |
<%= link_to 'Back', updates_path %>
